LMSG/TodasLasJornadas/todaslasjornadas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tabla_jornada" type="tabla_jornadaType"/>
  <xs:complexType name="PartidoType">
    <xs:sequence>
      <xs:element name="HORA" type="xs:string"/>
      <xs:element name="GOLES_EQ1" type="xs:string"/>
      <xs:element name="GOLES_EQ2" type="xs:string"/>
      <xs:element name="ID_Ganador" type="xs:string"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID_PARTIDO" use="optional"/>
  </xs:complexType>
  <xs:complexType name="jornadaType">
    <xs:sequence>
      <xs:element name="ID_JOR" type="xs:string"/>
      <xs:element type="xs:string" name="ID_TEMP"/>
      <xs:element name="Dia" type="xs:string"/>
      <xs:element type="xs:string" name="TIPO"/>
      <xs:element type="PartidoType" name="Partido" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NUMERO" use="optional"/>
  </xs:complexType>
  <xs:complexType name="tabla_jornadaType">
    <xs:sequence>
      <xs:element type="jornadaType" name="jornada" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
