LMSG/Clasificacion/clasificacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clasificaciones" type="ClasificacionesType"/>
  <xs:complexType name="ClasificacionType">
    <xs:sequence>
      <xs:element type="xs:string" name="POSICION" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:string" name="NOMBRE_EQUIPO" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:int" name="VICTORIAS"  maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:int" name="GOLES_A_FAVOR" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:int" name="GOLES_EN_CONTRA" maxOccurs="unbounded" minOccurs="1"/>
      <xs:element type="xs:int" name="DIFERENCIA_GOLES" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClasificacionesType">
    <xs:sequence>
      <xs:element type="ClasificacionType" name="Clasificacion" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
