LMSG/Clasificacion/clasificacion.dtd

<!ELEMENT Clasificaciones (Clasificacion*)>
        <!ELEMENT Equipo (POSICION;NOMBRE_EQUIPO;VICTORIAS;GOLES_A_FAVOR?GOLES_EN_CONTRA?DIFERENCIA_GOLES?)>
        <!ATTLIST POSICION CDATA #REQUIRED>
        <!ELEMENT NOMBRE_EQUIPO (#PCDATA)>
        <!ELEMENT VICTORIAS (#PCDATA)>
        <!ELEMENT GOLES_A_FAVOR (#PCDATA)>
        <!ELEMENT fecha (#PCDATA)>
        <!ELEMENT GOLES_EN_CONTRA (#PCDATA)>
        <!ELEMENT DIFERENCIA_GOLES (#PCDATA)>
        
